body, html {
  .FillHeight;
  overflow: hidden;
}

.no-border {
  webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.FillHeight {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.MainView {
  width: 100%;
  position: relative;

  .span3 {
    width: 25%;
  }
  .span9 {
    width: 75%;
  }
}

.MapView {
  .FillHeight;
}

.CustomDivMarker {
  border: none;
  position: absolute;
  padding-left: 0px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000;
}