<!-- Profile Pic preview/upload -->
<div>
    <img id="filedrop" class="img-polaroid" src="img/profile_img_placeholder.png"/><br/>
    <span class="visible-desktop">Drag and drop Image to upload a profile pic.</span>
</div>