<!--/**
    Navbar view handlebars template file.
 */-->

<div id="topNavBar" class="navbar">
    <div class="navbar-inner no-border">
        <div class="navbar-form">
            <div style="float: left;">
                <img src="img/logosmall.png">
            </div>
            <div class="brand">urban<strong>fruit.ly</strong></div>
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li>
                    <button class="btn btn-danger">Login</button>
                </li>
            </ul>
        </div>
    </div>
</div>