<div id="topNavBar" class="navbar">
    <div class="navbar-inner no-border">
        <div class="navbar-form">
            {{#linkTo index}}
            <div style="float: left;">
                <img src="img/logosmall.png">
            </div>
            <div class="brand">urban<strong>fruit.ly</strong></div>
            {{/linkTo}}
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li id="loginDropDownItem" class="dropdown">
                    {{#if isLoggedIn}}
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Account<b class="caret"></b></a>
                        {{ view App.Views.AccountSettingsMenuView }}
                    {{else}}
                        <a class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                {{ view App.Views.LoginFormView }}
                            </li>
                        </ul>
                    {{/if}}
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <button class="btn btn-facebook" onclick="window.open('https://www.facebook.com/Urbanfruitly', '_blank')"><i class="icon-facebook"></i> Like us </button>
                    <button class="btn btn-twitter" onclick="window.open('https://twitter.com/urbanfruitly', '_blank')"><i class="icon-twitter"></i> Follow us </button>
                </li>
            </ul>
        </div>
    </div>
</div>