<div class="SearchFor">

    <div class="SearchInputArea">
        <div class="SearchInputHeader">Find fruitly trees near you hell yeah.</div>
        <div class="input-append">
            <input id="searchFor" placeholder="Lemon tree, figs, tangerine, etc..." type="text" class="span3" autocomplete="off">
            <button class="btn btn-success" type="button" {{ action doSearch target="view" }}><i class="icon-search icon-white"></i> Search</button>
        </div>
    </div>

</div>